<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center">INICIA SESIÓN</h2>
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="form_container">
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email" class="form-control" formControlName="email" required>

                    </div>
                    <div class="form-group">
                        <label for="pass">Contraseña</label>
                        <input type="password" pattern= "(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="pass" class="form-control" formControlName="password" required>
                    </div>
                    <p class="text-danger error_message"></p>
                    <button type="submit"class="btn btn-primary btn-lg">Ingresar</button>
                </form>
                <div class="form-group">
                    <p >Crear cuenta<a class="register-link" [routerLink]= "['/register']">Registrate</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
