<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center">LOGIN</h2>
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" class="form-control" formControlName="email">
                    </div>
                    <div class="form-group">
                        <label for="pass">Password</label>
                        <input type="password" name="pass" class="form-control" formControlName="password">
                    </div>
                    <button type="submit"class="btn btn-primary btn-lg">Login</button>
                </form>
                <div class="form-group">
                    <p>Crear cuenta<a [routerLink]= "['/register']">Registrate</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
