<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/carousel_img_1.jpg" class="d-block w-100" alt="imagen de bitcoin">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/carousel_img_2.jpg" class="d-block w-100" alt="imagen de michi dolar">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/carousel_img_3.jpg" class="d-block w-100" alt="imagen de dolares">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <hr>
<div class= "container-fluid card-container">
  <div class="row">
    <div class="card-columns">
      <div class="card mb-3" >
        <img src="../../assets/images/dolar2.png" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dolar hoy</h5>
          <p class="card-text">DolarHoy.com ® es un sitio meramente informativo, y no brinda consejo, recomendación, asesoramiento o invitación de ningún tipo, ni de ninguna clase o naturaleza, para realizar actos y/u operaciones de cualquier tipo, clase o naturaleza</p>
          <a href="https://www.dolarhoy.com/" class="btn btn-primary btn-block">Ver más...</a>
        </div>
      </div>
  
      <div class="card mb-3" >
        <img src="../../assets/images/eToro (2).png" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">etoro</h5>
          <h5 class="card-text">Invierta con confianza en la plataforma de trading social líder en el mundo</h5>
          <p class="card-text">Únase a los millones de personas que han descubierto una forma más inteligente de invertir copiando de forma automática a los inversores líderes de nuestra comunidad ¡o consiga que le copien a usted para obtener una segunda fuente de ingresos</p>
          <a href="https://www.etoro.com/es/welcome" class="btn btn-primary btn-block">Ver más...</a>
        </div>
      </div>

      <div class="card mb-3">
        <img src="../../assets/images/bitcoin2.png" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bitcoin</h5>
          <p class="card-text">Bitcoin es una innovadora red de pagos y una nueva clase de dinero.</p>
          <a href="https://bitcoin.org/es/" class="btn btn-primary btn-block">Ver más...</a>
        </div>
      </div>
  
  
    </div>
  
  
  </div>

</div>