<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center">REGISTRATE</h2>
                <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="needs-validation form_container">
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email" class="form-control" formControlName="email" required="true">
                        <div class="invalid-feedback">Ingrese un mail válido.</div>                   
                    </div>
                    <div class="form-group">
                        <label for="pass">Contraseña</label>
                        <input type="password" pattern= "(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="pass" class="form-control" formControlName="password" required>
                        <div class="invalid-feedback">La contraseña debe tener mínimo 8 caracteres, un número y una mayúscula.</div> 
                    </div>
                    <button type="submit"class="btn btn-primary btn-lg">Aceptar</button>
                </form>
                <div class="form-group">
                    <p>¿Tenés una cuenta?</p>
                    <a [routerLink]= "['/login']">Inicia sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>

