<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center">REGISTRATE</h2>
                <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" pattern=".+@gmail.com" name="email" class="form-control" formControlName="email" required="true">
                    </div>
                    <div class="form-group">
                        <label for="pass">Password</label>
                        <input type="password" name="pass" class="form-control" formControlName="password" required>
                    </div>
                    <button type="submit"class="btn btn-primary btn-lg">Aceptar</button>
                </form>
                <div class="form-group">
                    <p>¿Tenés una cuenta?</p>
                    <a [routerLink]= "['/login']">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

