<div class="row">
    <div class="col-md-10 mx-auto mt-8">
        <div class="card">
            <div class="card-body">
                <h5 class="text-center" id="titulo_transacciones">TRANSACCIONES</h5>
                <div>
                    <form class="form-inline align-items-start mt-5">
                        <div class="col-md-7">
                            <p>Últimas transacciones</p>
                            <div>
                                <div class="d-flex flex-row">
                                    <div class="col-md-3">
                                        <p>Fecha</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Movimiento</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>Monto</p>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="d-flex flex-row">
                                    <div class="col-md-3">
                                        <p>22/12/2020</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Retiro</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>2000</p>
                                    </div>
                                </div>
                            </div>

                            
                            <div>
                                <div class="d-flex flex-row">
                                    <div class="col-md-3">
                                        <p>22/12/2020</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Retiro</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>2000</p>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="d-flex flex-row">
                                    <div class="col-md-3">
                                        <p>22/12/2020</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Retiro</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>2000</p>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="d-flex flex-row">
                                    <div class="col-md-3">
                                        <p>22/12/2020</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Retiro</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>2000</p>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="d-flex flex-row">
                                    <div class="col-md-3">
                                        <p>22/12/2020</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Retiro</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>2000</p>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="d-flex flex-row">
                                    <div class="col-md-3">
                                        <p>22/12/2020</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Retiro</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>2000</p>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="d-flex flex-row">
                                    <div class="col-md-3">
                                        <p>22/12/2020</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Retiro</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>2000</p>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="d-flex flex-row">
                                    <div class="col-md-3">
                                        <p>22/12/2020</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Retiro</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>2000</p>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="d-flex flex-row">
                                    <div class="col-md-3">
                                        <p>22/12/2020</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Retiro</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>2000</p>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="d-flex flex-row">
                                    <div class="col-md-3">
                                        <p>22/12/2020</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Retiro</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>2000</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-5">
                            <div class="text-center" id="saldo_disponible">
                                <p><b>SALDO DISPONIBLE</b></p>
                                <p>50000</p>
                            </div>
                            <div class="text-center mt-3">
                                <button type="button" class="btn btn-dark">Retirar dinero</button>
                                <button type="button" class="btn btn-dark">Ingresar dinero</button>
                            </div>

                            <div class="mt-5">
                                <p>Ingresar monto</p>
                                <input type="number" id="" name="">
                                <button id="btn_aceptar" type="button" class="btn btn-dark">Aceptar</button>
                            </div>

                        </div>
                    </form>


                </div>
            </div>