
nav{
    a{
        #logo {
            width: 3em;
            height: 3em;
        }
    } 
}

.navbar-collapse{
    transition: all 0.3s ease-out;
    display: none;
    .navbar-nav{
        transition: all 0.3s ease-in-out;
    }
}

.ocultar_menu{
    transition: all 0.3s ease-in;
    display: block;
}


