<!-- <footer class="container-fluid">
    <div class="d-flex">
         <div class="mr-auto p-3">
            <p>CatBank © 2020</p>
        </div> -->
<!-- <div class="p-2">
            <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
            <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
        </div>
    </div>
 -->
<!-- <footer class="page-footer font-small teal pt-3">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <div class="footer-copyright text-center py-3 text-md-left">© 2020 Copyright:
                </div>

            </div>
            <div class="col-md-6 mb-md-0 mb-3">
                <div class="p-2  text-center text-md-right">
                    <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                </div>

            </div>
        </div>
    </div>
</footer> -->
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

    <div>
      <div class="container">
  
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">CatBank © 2020</h6>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
  
            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fa fa-facebook-f white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fa fa-twitter white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fa fa-instagram white-text"> </i>
            </a>
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row-->
  
      </div>
    </div>
  
  </footer>
  <!-- Footer -->
