<div class="div"> 
    <form >
        
        <fieldset>
            <h5 class="form-subsection-title">DATOS PERSONALES</h5>
            <div class="form-line-wrapper" >
                <div >
                    <p id="message-container" >Solo se podran modificar los datos permitidos.</p>
                </div>
            </div>

            <div class="form-line-wrapper">
                <label for="Name">Nombres</label>
                <div>
                    <input type="text" id="input" name="Name" placeholder="Roberto" readonly>
                </div>
            </div>
            <div class="form-line-wrapper">
                <label for="apellido">Apellido</label>
                <div>
                    <input type="text" id="input" apellido="apellido" placeholder="Valdez" readonly >
                    
                </div>
            </div>
            <div class="form-line-wrapper">
                <label for="usuario">Usuario</label>
                <div>
                    <input type="text" id="input" usuario="usuario" placeholder="Roval10" readonly>
                </div>
            </div>
            <div class="form-line-wrapper">
                <label for="contraseña">Contraseña</label>
                <div>
                    <input type="password" id="input" contraseña="contraseña" placeholder="12milpesos" readonly >
                </div>
            </div>
            <div class="form-line-wrapper">
                <label for="dni">Dni</label>
                <div>
                    <input type="number" id="input" dni="dni" placeholder="24.356.425"  readonly>
                </div>
            </div>
            <div class="form-line-wrapper">
                <label for="pais">Pais</label>
                <div >
                    <input type="button" id="input" value="editar">
                    <input type="text" id="input" pais="pais" placeholder="Argentina" readonly >
                </div>
            </div>
            <div class="form-line-wrapper">
                <label for="ciudad">Ciudad</label>
                <div >
                    <input type="button" id="input" value="editar">
                    <input type="text" id="input" ciudad="ciudad" placeholder="Rio Cuarto" readonly>
                </div>
            </div>
            
            <div class="form-line-wrapper">
                <label for="E-mail">E‑mail</label>
                <div >
                    <input type="button" id="input" value="editar">
                    <input type="email" id="input" E-mail="E-mail" placeholder="Robert@gmail.com" readonly>
                </div>
            </div>
            <div class="form-line-wrapper">
                <label for="telefono">Telefono</label>
                <div>
                    <input type="button" id="input" value="editar">
                    <input type="number" id="input" telefono="telefono" placeholder="0358 15489657" readonly >
                </div>
            </div>
            


            <div class="form-subsection">
                <h5 class="form-subsection-title">ACTIVAR CUENTA</h5>
            <div>
                <label class="form-line-wrapper">subir foto dni (frontal)</label>
                <input type="file"  id="file">
                <br><br>
                <label class="form-line-wrapper">subir foto dni (dorsal)</label>
                <input type="file"  id="file">
                <br><br>
                <input type="submit"  value="Enviar">
                
            </div> 
            </div>  
        </fieldset>     
    </form>
</div>

