<div class="row">
    <div class="col-md-10 mx-auto mt-8">
        <div class="card">
            <div class="card-body">
                <div>
                    <h5 class="text-center" id="titulo_miCuenta">DATOS PERSONALES</h5>
                </div>
                <form>
                    <div>
                        <br>
                        <p id="message-container" class="titulos">*Solo se podran modificar los datos permitidos</p>
                    </div>
                    <div class="form-group d-flex flex-row">
                        <div class="col-md-8">
                            <label for="Name">Nombres</label>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" id="input" name="Name" placeholder="Roberto" readonly>
                        </div>
                    </div>

                    <div class="form-group d-flex flex-row">
                        <div class="col-md-8">
                            <label for="apellido">Apellido</label>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" id="input" apellido="apellido" placeholder="Valdez" readonly>
                        </div>
                    </div>

                    <div class="form-group d-flex flex-row">
                        <div class="col-md-8">
                            <label for="usuario">Usuario</label>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" id="input" usuario="usuario" placeholder="Roval10" readonly>
                        </div>
                    </div>

                    <div class="form-group d-flex flex-row">
                        <div class="col-md-8">
                            <label for="contraseña">Contraseña</label>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="password" id="input" contraseña="contraseña" placeholder="12milpesos" readonly>
                        </div>
                    </div>

                    <div class="form-group d-flex flex-row">
                        <div class="col-md-8">
                            <label for="dni">Dni</label>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="number" id="input" dni="dni" placeholder="24.356.425" readonly>
                        </div>
                    </div>

                    <div class="form-group d-flex flex-row">
                        <div class="col-md-8">
                            <label for="pais">Pais</label>
                        </div>
                        <div class="form-group col-md-4">
                            <input class="btn" type="button" id="btnPais" value="editar" (click)="editarPais()">
                            <input class="btn noVisible" type="button" id="aceptarPais" value="aceptar"
                                (click)="aceptarValorPais()">
                            <input type="text" id="inputPais" placeholder="Argentina" [disabled]="disabledBtn">
                        </div>
                    </div>

                    <div class="form-group d-flex flex-row">
                        <div class="col-md-8">
                            <label for="ciudad">Ciudad</label>
                        </div>
                        <div class="form-group col-md-4">
                            <input class="btn" type="button" id="btnCiudad" value="editar" (click)="editarCiudad()">
                            <input class="btn noVisible" type="button" id="aceptarCiudad" value="aceptar"
                                (click)="aceptarValorCiudad()">
                            <input type="text" id="inputCiudad" ciudad="ciudad" placeholder="Rio Cuarto"
                                [disabled]="disabledBtnCiudad">
                        </div>
                    </div>

                    <div class="form-group d-flex flex-row">
                        <div class="col-md-8">
                            <label for="E-mail">E‑mail</label>
                        </div>
                        <div class="form-group col-md-4">
                            <input class="btn" type="button" id="btnMail" value="editar" (click)="editarMail()">
                            <input class="btn noVisible" type="button" id="aceptarMail" value="aceptar"
                                (click)="aceptarValorMail()">
                            <input type="email" id="inputMail" E-mail="E-mail" placeholder="Robert@gmail.com"
                                [disabled]="disabledBtnMail">
                        </div>
                    </div>

                    <div class="form-group d-flex flex-row">
                        <div class="col-md-8">
                            <label for="telefono">Telefono</label>
                        </div>
                        <div class="form-group col-md-4">
                            <input class="btn" type="button" id="btnTelefono" value="editar" (click)="editarTelefono()">
                            <input class="btn noVisible" type="button" id="aceptarTelefono" value="aceptar"
                                (click)="aceptarValorTelefono()">
                            <input type="number" id="inputTelefono" telefono="telefono" placeholder="0358 15489657"
                                [disabled]="disabledBtnTelefono">
                        </div>
                    </div>
                </form>

                <form class="form-group container">
                    <div class="form-group row">
                        <div class="form-group col-md-6 cuenta">
                            <h4 class="text-center titulos">ACTIVAR CUENTA</h4>
                            <div class="form-group cuenta_contenido">
                                <label>Subir foto dni (frontal)</label>
                                <div class="form-group">
                                    <input type="file" id="file" accept="image/x-png,image/jpeg">
                                </div>

                                <label>Subir foto dni (dorsal)</label>
                                <div class="form-group">
                                    <input type="file" id="file" accept="image/x-png,image/jpeg">
                                </div>
                                <br><br>
                            </div>
                        </div>
                        <div class="form-group col-md-6 cuenta">
                            <h4 class="text-center titulos">CREA TU ALIAS</h4>
                            <div class="form-group cuenta_contenido">
                                <label for="alias">Ingrese un alias:</label>
                                <div class="form-group">
                                    <input type="text" placeholder="Ej: apk">
                                </div>
                                <div class="form-group">
                                    <input class="btn activar" type="submit" value="Enviar">
                                </div>
                            </div>
                        </div>


                    </div>

                </form>
                <br>
            </div>
        </div>
    </div>

</div>