footer {    
    margin-top: 5%;
    background-color: #3a3e42;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: whitesmoke;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.795);
}

footer i {    
    padding: 1em;
}

footer p {
    padding-top: .4em;
}