<div class="footer">
    <p>Our networks</p>
    <div class="networks" id="imgspoti">
        <a href="https://www.spotify.com/ar/"><i class="fab fa-spotify"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
        <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.telegram.com/"><i class="fab fa-telegram"></i></a>
    </div>
</div>